doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Teyit.link
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='/public/style.css')
        link(rel='shortcut icon', href='/public/favicon.ico', type='image/x-icon')
        link(rel='icon', href='/public/favicon.ico', type='image/x-icon')
    body
        #flipkart-navbar
            .topbar
                .container
                    .row.row1
                        ul.largenav.pull-right
                            li.upper-links
                                a.links(href='https://teyit.org/nedir/', target='_blank') Nedir
                            li.upper-links
                                a.links(href='https://teyit.org/metodoloji-ve-ilkeler/', target='_blank') Metodoloji ve İlkeler
                            li.upper-links
                                a.links(href='https://teyit.org/ekip/', target='_blank') Ekip
                            li.upper-links
                                a.links(href='https://teyit.org/ihbar-2/', target='_blank') İhbar
                            li.upper-links
                                a.links(href='https://teyit.org/iletisim/', target='_blank') İletişim
            .container
                .row.row2
                    .col-sm-2
                        a(href='/')
                            h1(style='margin:0px;')
                                span.largenav
                                    img.img-responsive(src='/public/logo.png', alt='')
                    .flipkart-navbar-search.smallsearch.col-sm-5.pull-right
                        .row
                            form(method='GET', action='/search')
                                input.flipkart-navbar-input.col-xs-11(type='', placeholder='Search Text', name='q')
                                button.flipkart-navbar-button.col-xs-1(type='submit')
                                    svg(width='15px', height='15px')
                                        path(fill='#fff', d='M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 ')
        .container(style='margin-top:30px')
            each result in results
                .row
                    .col-md-8.col-md-offset-2
                        .row.result-row
                            .col-md-3
                                div(style='height:150px;background-size:100% auto;overflow:hidden;background-image:url(//s3.eu-central-1.amazonaws.com/teyitlink/' +result.archive_id+ '/screenshot.png)')
                            .col-md-9
                                h3
                                    a(href='/' + result.slug)
                                        | #{result.meta_title}
                                p
                                    | #{result.meta_description}
                                .result-link #{result.request_url}
                                time.time(datetime='#{result.created_at}') #{result.created_at}
        script(src='https://code.jquery.com/jquery-1.12.4.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='/public/app.js')
